
Plugins>ImageJ on GPU (CLIJx)>Labeling, "BoneJ Connected Components Labeling (CLIJx, experimental)", net.haesleinhuepf.clijx.bonej.BoneJConnectedComponentsLabeling
Plugins>ImageJ on GPU (CLIJx)>Labeling, "BoneJ Skeletonize 3D (CLIJx, experimental)", net.haesleinhuepf.clijx.bonej.BoneJSkeletonize3D
